* {
  box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Helvetica, Arial, Sans-serif;
	background-image: url(/images/extra_clean_paper.png);
  color: #333; 
}

a#logo {
	color: white;
	text-decoration: none;
}

a {
  text-decoration: none;
  color: #b77843;
}

	.button {
		display: inline-block;
		width: 110px;
		cursor: pointer;
		font-size: 16px;
		background-color: green;
		border: 2px solid white;
		color: white;
		padding: 5px 10px;
		text-align: center;
		border-radius: 4px;
		margin-left: 5px;
		margin-right: 5px;
		text-shadow: 0 0 2px rgba(0,0,0, 0.4);
	}

	.button.highlighted {
	  background-color: #b77843;
	}

header {
	height: 40px;
	background-color: black;
	color: white;
	display: flex;
	padding: 0 20px;
}

	header > * {
		margin: auto 0;
	}

	header #logo {
		display: flex;
		margin-right: 20px;
	}

	header #user-links {
		flex: 1;
		-webkit-flex: 1;
		text-align: right;
	}

	header a {
	  color: white;
	}

#links-container {
	background-color: white;
  margin: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  padding: 10px;
}

ul {
  list-style-type: none;
	margin: 0;
	padding: 0;	
}

.link {
  background-color: #EEE;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
  margin: 10px inherit;
  padding: 15px 10px;
}

	.link a.title {
	  letter-spacing: 1px;
	}

	.link .description {
	  margin: 10px inherit;
	}

	.link .source {
	  float: right;
	  font-size: 12px;
	}

footer {
	display: flex;
	background-color: rgba(0,0,0,0.2);
}

	footer > * {
		margin: auto inherit;
	}

	footer img {
		vertical-align: top;
	}

	footer #technologies {
		-webkit-flex: 1;
		flex: 1;
	}

	footer p {
		padding: 5px 25px;
	}

#notice {
	text-align: center;
	margin: 5px;
	padding: 5px;
	background-color: rgba(67,183,120,1.75);
	border-radius: 4px;
	box-shadow: 0 0 3px rgba(0,0,0,0.4);
	color: white;
}


/*
* {
	margin: 0;
}
html, body {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	margin: 0 auto -155px;
}
.footer, .push {
	height: -155px;
}*/
