<h2>Please enter email address to recover password</h2>

<form method="post" action="/users/password_reset_request">
	Email: <input name="email" type="text">
	<input type="submit" value="recover password">
</form>